<!DOCTYPE html>
<html>

<head>
	<title></title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'clinic/css/style.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>

<body>
	<div class="container">
		<header class="blog-header py-3">
			<div class="row flex-nowrap justify-content-between align-items-center">
				<div class="col-4 pt-1">
					<a class="text-muted" href="/register.html">Запись на прием</a>
				</div>
				<div class="col-4 text-center">
					<a class="blog-header-logo text-dark" href="#">Стоматология "Вылечим всё!"</a>
				</div>
				<div class="col-4 d-flex justify-content-end align-items-center">
					<a class="btn btn-sm btn-outline-secondary" href="/lk">Для врачей</a>
				</div>
			</div>
		</header>
		<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
			<div class="col-md-6 px-0">
				<h1 class="display-4 font-italic">Лучшие врачи Краснодарского края у нас</h1>
				<p class="lead my-3">Если вы искали где быстро, а главное недорого и без сильной боли вылечить зубы, если вы хотите сделать свои зубы белыми и даже просто проверить их на здоровье, то Вам точно к нам.</p>
				<p class="lead mb-0 font-italic">Ждем ваших звонков</p>
			</div>
		</div>
		<div class="album py-5 bg-light">
			<H1 style=" text-align: center">Услуги</H1>
			<div class="container">
				<div class="row">
					{% for first in context %}
					<div class="col-md-4 box">
						<div class="card mb-4 shadow-sm">
							<div class="card-body">
								<H2 class="card-text">{{first.Title}}</H2>
								<p class="lead my-3">Описание:{{first.Description}}</p>
								<div class="d-flex justify-content-between align-items-center">
									<H3 class="text-muted">Цена:{{first.Price}}</H3>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<hr align="center" width="100%" size="2" color="#353D42" />
		<div class="album py-5 bg-light">
			<div class="container">
				<div class="row">
					{% for twice in news %}
					<div class="col-md-4 box">
						<div class="card mb-4 shadow-sm">
							<div class="card-body">
								<H1 class="card-text">Заголовок:</H1>
								<p class="lead my-3">Текст:</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</body>

</html>
